body {
  background-color: #FFFFFF; 
  font-family: 'Poppins', sans-serif;
  color: #374151;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 18px;
  scroll-behavior: smooth;
}

.header {
  background-color: #FFF1F5;
  padding: 1rem 2rem;
  display: flex;
  font-size: 18px;
  color: #374151;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header img {
  width: 120px;
}

.header-box {
  display: flex;
  justify-content: space-between; /* logo left, nav right */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.navigation-bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 2rem;
}

.navigation-bar a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navigation-bar a:hover {
  color: #E5A4B5;
}

/* Mobile menu toggle */
   .menu-toggle{
    display:none;
    cursor:pointer;
    font-size:1.8rem;
   }

   /* Hero Section */
  .hero-section  {
  background-color: #FFE4EC; 
  padding: 4rem 2rem;
  
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
} 

.hero-box h1 {
  font-size: 60px;
  margin-bottom: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accent{
  color: purple;

}

hero-text p.lead {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.hero-image img{
 width: 60%;
  height: 30%;
  border-radius: 10px;
}




.btn{
  background-color:#F472B6;
  color:black;
  border-radius: 6px;
  padding:2px;
  font-size:18px;
  text-decoration:none;
  border:1px solid black;
  cursor:pointer;
  box-shadow:#374151 2px 2px 5px;
}
.btn:hover {
  background-color: #E5A4B5;
}

.btn-outline{
  text-decoration:none;
  background-color:#F472B6;
  color:black;
  border-radius: 6px;
  padding:2px;
  font-size:18px;
  border:1px solid black;
  cursor:pointer;
  box-shadow:#374151 2px 2px 5px;
}

.btn-outline:hover {
  background-color: #E5A4B5;
}


/* About Section */
.about-section{
  background-color:#FFF1F5;
  padding:20px;

}

.about-box{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-image img {
  width: 100%;           
  max-width: 700px;      
  height: auto;         
  border-radius: 10px;   
  display: block;        
  object-fit: cover;     
}



.about-section h2{
  font-size:30px;
  margin-bottom: 10px;
  text-align: center;

}

.about-section p{
  font-size:18px;
  line-height:1.6;
}


/* PROJECTS SECTION */
.projects-section {
  background-color: #FFE4EC;
  padding: 3rem 0;
}

.project-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: #FFF1F5;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  overflow: hidden;

  aspect-ratio: 1 / 1;   
  display: flex;
  flex-direction: column;
}

/* IMAGE = TOP HALF */
.project-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

/* TEXT = BOTTOM HALF */
.project-body {
  height: 50%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h3 {
  font-size: 18px;
}

.project-card p {
  font-size: 15px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #F472B6;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  border:1px solid black;
  box-shadow:#374151 2px 2px 5px;
}

 .project-card a:hover{
  background-color:#E5A4B5;

 }

 /* contact section */
 .contact-section{
  background-color:#FFF1F5;
  padding:20px;

 }

 .contact-section h2{
  font-size:30px;
  margin-bottom:10px;
  text-align: center;
  
 }

 .form-row label{
  font-size:18px;
  font-weight:500;
  font-style: bold;
  margin-top:10px;
  display:block;

 }

 .form-row input, .form-row textarea{
  width:70%;
  padding:10px;
  margin-top:5px;
  margin-bottom:10px;
  border-radius:6px;
  border:1px solid black;
  font-size:16px;
  box-shadow:#374151 2px 2px 5px;
 }

  .footer{
    background-color:black;
    color:white;
    text-align:center;
    padding:20px;

  }

  .footer p{
    margin:0;
    font-size:16px;
  }

  @media (min-width: 769px) {
  .navigation-bar ul {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    padding: 0;
  }
}


  @media (max-width: 768px) {
    .navigation-bar ul {
    display: none;
    flex-direction: column;
    background-color: #FFF1F5;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 1rem;
    border-radius: 10px;
    z-index: 2000;
  }

  .navigation-bar ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }
}

  